.container-tel{
    display: flex;
    align-items: center;
}
.container-cards{
    display: flex;
    flex-wrap: wrap;
}
.container-card{
    margin: 10px;
}
.container-btn{
    display: flex;
    justify-content: space-between;
  
}
.container-btn button{
    width: 100%;
    margin: 2px;
}